---
import type { GetStaticPaths } from "astro";
import Layout from "../../layout/layout.astro";

import type { PokemonList } from "../../interfaces/pokemon-list.interface";
import PokemonCard from "../../components/pokemon/PokemonCard.astro";

export const getStaticPaths = (async () => {
  const res = await fetch("https://pokeapi.co/api/v2/pokemon?limit=151");
  const { results } = (await res.json()) as PokemonList;

  return results.map(({ name, url }) => {
    const id = url.split("/").at(-2);

    return {
      params: { id: id },
      props: { name, url },
    };
  });
}) satisfies GetStaticPaths;


const {id} = Astro.params
const { url, name } = Astro.props;

const audioPokemon = `https://raw.githubusercontent.com/PokeAPI/cries/main/cries/pokemon/latest/${id}.ogg`;
---

<Layout title="hola">
    <section class="mt-10 mx-10 flex flex-col">
        <div class="flex flex-col text-center items-center">
          <a class="btn btn-outline btn-secondary" href="/"> Regresar </a>
          <h1
            class="my-2 hover:underline hover:text-blue-500 hover:cursor-pointer mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl"
          >
            This is your pokemon selected:
          </h1>
        </div>
    
        <div class="flex justify-start gap-5">
          <PokemonCard url={url} isBig={true} />
          <div class="flex flex-col self-center align-start w-full px-10 py-20 bg-base-200 rounded-2xl">
            <h3
              class="animate-fade-right animate-duration-[2000ms] animate-ease-linear animate-fill-both my-2 hover:underline hover:text-blue-500 hover:cursor-pointer mb-4 text-2xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-5xl"
            >
              #{id}
              {name}
            </h3>
            <details class="collapse bg-base-200 flex flex-col items-start h-auto">
              <summary class="collapse-title text-xl font-medium"
                >Click to open audio of pokemon</summary
              >
              <div class="collapse-content">
                <audio
                  class="py-2.5 px-5 me-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
                  controls
                >
                  <source src={audioPokemon} />
                </audio>
              </div>
            </details>
          </div>
        </div>
      </section>
</Layout>
